@charset "UTF-8";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*variables*/
:root {
    --vermelho: #E50914;
    --preta: #141414;

    --fonte-logo: 'Bebas Neue', cursive;
    --fonte-logo-music: font-family: 'Pacifico', cursive;
    --fonte-descricao: 'Poppins', sans-serif;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


/*layout base*/
body {
    background: var(--preta);
    font-family: var(--fonte-descricao);
    color: white;
}

header .container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(black, black, black, rgba(0, 0, 0, 0));
    margin-left: 0;
}

.container {
    margin-left: 30px;
}


/*logo*/
#logo {
    margin-left: 30px;
    color: var(--vermelho);
    font-family: var(--fonte-logo);
    font-size: 40px;
    font-weight: lighter;
}

#logo-music {
    color: #5a5a5a;
    font-weight: 100;
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-family: var(--fonte-descricao);
    font-weight: 400;
    font-size: 14px;
}

header nav a:hover {
    color: #AAA;
    transition: .4s ease all;
}


/*capa principal*/
.capa-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url('/img/capa-destaque.jpg');
    background-position: center;

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.capa-principal .container {
    width: 70%;
}

.capa-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.capa-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: var(--fonte-descricao);
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.botao {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}


.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;  
}

button a {
    text-decoration: none;
    font-family: var(--fonte-descricao);
    font-weight: 400;
    color: white;
}

button a:hover {
    color: black;
}


/*categorias musicais*/
.box-music {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.carrosel-filmes {
    margin-top: 10px;
}

.artista {
    font-size: 18px;
}

.top-musicas{
    margin-top: 40px;
    margin-bottom: 8px;
}

.album {
    color: #5a5a5a;
}


