@charset "UTF-8";

/*variables*/
:root {
  --vermelho: #E50914;
  --preta: #141414;

  --fonte-logo: 'Bebas Neue', cursive;
  --fonte-logo-music: font-family: 'Pacifico', cursive;
  --fonte-descricao: 'Poppins', sans-serif;
}

body {
  background: var(--preta);
  font-family: var(--fonte-descricao);
  color: white;
  text-align: center;
}

.container {
  font-family: var(--fonte-descricao);
  display: flex;
  color: #c8c8c8;;
  
}

.letra-musica-original {
  text-align: right;
  margin: 30px;
}

.letra-musica-traducao {
  text-align: left;
  margin: 30px;
}

